body {
    background-color: #87CEEB;
    font-size: 1.5rem;
}
h1{
    font-size: 4rem;
    text-align: center;
    color:#f8f8ff;
    
}
header {
    background-color: #00BFFF ;
    padding-top: 20px;
    padding-bottom: 10px;
}

form {
   text-align: center;
   margin:auto;
   margin-top: 100px;
   width: 500px
   
}

label{
    color:#f8f8ff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
}

footer {
    font-size: .75rem;
    color:#f8f8ff
}

#cloud {
   position: relative;
   left: 950px;
}
#cloud2 {
    position:relative;
    left:550px;
    bottom: 150px; 
}
#cloud3 {
    position: relative;
    left: 200px;
    bottom: 300px; 
}
#error{
    text-align: center;
    color:#f8f8ff;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#city-name {
    font-size: 2.5rem;
    text-align: center;
    color: #f8f8ff;
   
}

.btn {
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    background:  #00BFFF;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 100px;
  }
  
  .btn:hover {
    background: #0369a8;
    text-decoration: none;
  }

  .card {
      position: relative;
      left:500px;
      bottom: 50px;
      background-color:#00BFFF ;
      max-width: 30ch;
      border-radius: 5px;
      box-shadow:  5px 10px grey;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  

  .temp {
    color: #f8f8ff;
    padding-left: 5px; 
    padding-bottom: 5px;
    font-size: 1.5rem;

  }

  #current-temp {
    margin-left: 100px;
  }
  #min {
    margin-left: 45px  
  }
  #max {
    margin-left: 40px
  }
